# flask
# flask-pymongo
# flask-bcrypt
# flask-cors
# flask-login
# detoxify
# sentence-transformers
Flask==2.0.1
Werkzeug==2.0.3
Flask-PyMongo==2.3.0
pymongo==4.0.1
Flask-Bcrypt==1.0.1
Flask-Login==0.5.0
detoxify==0.5.2
sentence-transformers==3.2.0
Flask-Cors==3.0.10